.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: black;
    width: var(--default-layout-header-width);
    min-width: 1000px;
    display: flex;
}
.content{
    width: var(--default--content-width);
    min-height: 100vh;
    background-color: orange;
}
